.metrics-section .metric {
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;;
}

.metrics-section .metric .metric-data {
  margin-right: 20px;
}

.metrics-section .metric .date {
  color: #505050;
  padding: 10px;
}

.metrics-section .metric .name {
  font-size: 1.2em;

}

.metrics-section .metric .value {
  font-weight: bold;
  background: #ff355e;
  padding: 10px;
  color: #ffffff;
  width: 70px;
  text-align: center;
}

.metrics-section .pagination-buttons-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.metrics-section .input-wrapper button {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}
