.average {
  padding: 20px;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 1px solid #ff355e;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.average p {
  padding: 0;
  margin: 0;
}

.average p.time-frame {
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 1.2em
}

.average p.average-value {
  font-size: 1.5em
}