.App {
  display: flex;
  flex-direction: column;;
  text-align: center;
  align-items: center;
  width: 100%;
}

.content {
  max-width: 100%;
  width: 1200px;
}

.section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: left;
}

.section h2 {
  margin: 10px 0 30px 0;
}

.top-section {
  display: flex;
  height: 200px;
}

.input-wrapper {
  flex: 1 1 100%;
}

.input-wrapper input, .input-wrapper select, .input-wrapper button {
  width: calc(100% - 40px);
  height: 50px;
  padding: 0;
  border-radius: 0;;
}

.input-wrapper input, .input-wrapper select {
  border: 1px solid #ccc;
  padding: 0 20px;
}

.input-wrapper label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-wrapper button {
  margin: 30px 0 0 0px;
  background-color: #ff355e;
  color: white;
  border: 1px solid #ff355e;
}

.input-wrapper button:disabled,
.input-wrapper button[disabled]{
  background-color: #cccccc;
  border: 1px solid #cccccc;
}

.center-text {
  text-align: center;
}
